version: '2'
services:
  ssh:
    build: ./slave
    volumes:
      - /root/.ssh
    entrypoint: [ "bash", "-c" ]
    command: [ "ssh-keygen -f /root/.ssh/id_rsa < /dev/null && cp /root/.ssh/{id_rsa.pub,authorized_keys} && sleep inf" ]
  master:
    build: .
    links:
      - slave1:slave1
      - slave2:slave2
    volumes_from:
      - ssh
    entrypoint: [ "./pkb.py" ]
    command: [ "--benchmarks=redis_ycsb", "--machine_type=f1-micro", "--benchmark_config_file=config.yaml", "--zones=zone", "--ip_addresses=EXTERNAL" ]
  slave1:
    build: ./slave
    volumes_from:
      - ssh
  slave2:
    build: ./slave
    volumes_from:
      - ssh